<h1>Edit Gaming Entry</h1>
<%# This file contains the logic that is needed to display the necessary information for the edit page. %>

<%= render "form", article: @article %>

<%# <%= link_to "Back Home", articles_path %>

<hr>

<%# <div class = "backHome">
<%# <%= button_to "Back Home", articles_path, method: :get, class: "btn btn-primary" %>
</div>
