<h1>Discord Widget Data</h1>
# <pre><%= JSON.pretty_generate(@widget_data) %></pre>

<div>
  <strong>Widget ID:</strong> <%= @widget_data["id"] %><br>
  <strong>Name:</strong> <%= @widget_data["name"] %><br>
  <!-- Add other attributes you want to display -->
</div>